{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

 {% block body %}

     <h1 class="article-title">Espace perso</h1>
     <h1 class="article-title">{{ app.user.username }}!</h1>

     <div>
         <a class="lien" href="{{ path('projet_new') }}">Nouveau Projet</a>
     </div>
     {% for projets in userAdmin %}


          <div class="container">
         <div class="content">
             <div class="grid">
                 <figure class="effect-bubba">
                     <img src="{{projets.poster}}" alt="{{ projets.nom }} poster">
                     <figcaption>
                         <h2>Projet <span>{{ projets.nom }}</span></h2>
                         <p>{{ projets.description }}</p>
                         <a class="buy" href="{{ path('show_admin', {id : projets.id }) }}">Voir</a>
                     </figcaption>
                 </figure>
             </div>
         </div>
     </div>

     {% endfor %}


 {% endblock %}