{{ form_start(form) }}

<div class="row">
    <div class="col-md-4">{{ form_row(form.nom) }}</div>
</div>
<div class="row">
    <div class="col-md-2">{{ form_row(form.description) }}</div>
</div>
<div class="row">
    <div class="col-md-3">{{ form_row(form.summary) }}</div>
</div>
<div class="row">
    <div class="col-md-4">{{ form_row(form.imageFile) }}</div>
</div>
<div class="row">
    <div class="col-md-3">{{ form_row(form.video) }}</div>
</div>
<div class="row">
    <div class="col-md-4">{{ form_row(form.linkVideo) }}</div>
</div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
