{% extends 'base.html.twig' %}

{% block html %}

{% block title %}Liste des projets{% endblock %}

    {% block body %}
{% include'_header.html.twig' %}
        <h1 class="section-title-project"><u><span>P</span>rojets</u></h1>

        <section class="project" id="project">
            {% for projets in projets %}

        <div class="card-deck">
            <div class="card projet-card shadow mb-5 bg-white rounded">
                {% if (projets.filename) %}
                    <a class="buy" href="{{ path('projet_show', {id : projets.id }) }}">
                        <img class="card-img-top" src="{{ vich_uploader_asset(projets,'imageFile') }}" alt="{{ projets.nom }}"></a>
    {% else %}
                <a class="buy" href="{{ path('projet_show', {id : projets.id }) }}">
                    <img class="card-img-top" src="{{ projets.poster }}" alt="{{ projets.nom }}">
                </a>
                {% endif %}
        <div class="card-projet">
                    <h5 class="card-title">{{ projets.nom }}</h5>
                    <p class="card-text">{{ projets.description }}</p>
                </div>
            </div>
        </div>


    {% endfor %}
</section>
    {% include '_footer.html.twig' %}


    {% endblock %}

{% endblock %}

