{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}

    <section>
        <div class="row">
        <div class="img-container">
            {% if (projet.filename) %}
                <img class="align-self-start mr-3" src="{{ vich_uploader_asset(projet,'imageFile') }}" alt="{{ projet.nom }} poster">
            {% else %}
                <img class="align-self-start mr-3" src="{{ projet.poster }}" alt="{{ projet.nom }} poster">
            {% endif %}

        </div>

            <div class="container">
                <iframe src="{{ projet.video }}" width="640" height="366" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p><a href="{{ projet.linkVideo }}">Lien vers la video</a> </p>
                <h1>Projet <span>{{ projet.nom }}</span></h1>
                <p>{{ projet.summary }}</p>
                <p>Date de création : {{projet.creation|date('d/m/Y')}}</p>
                <a href="#"><img src="https://img.icons8.com/clouds/100/000000/github.png"/></a>
            </div>
        </div>

    </section>


    <section>
            <div class="container">
                <div class="content">
                    <div class="grid">
                        <figure class="effect-bubba">
                            <img src="{{projet.poster}}" alt="{{ projet.nom }} poster">
                            <figcaption>
                                <h2>Projet <span>{{ projet.nom }}</span></h2>
                                <p>{{ projet.description }}</p>
                                <a class="buy" href="{{ path('projet_show', {id : projet.id }) }}">Voir</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}
